{% extends "template.njk" %}

{% block pageTitle %}

{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
  <!--[if lt IE 9]>
    <style>
      div .multiple-choice input {
        filter: none;
      }
      body.js-enabled .js-hidden {
        display: block;
        visibility: visible;
      }
    </style>
  <![endif]-->
{% endblock %}


{% block content %}

  {% block header %}



    {{ govukHeader({
      homepageUrl: "#",
      serviceName: common.serviceName,
      serviceUrl: "#"
    }) }}


    {% block cookie_message %}
      <p>{{cookieText | safe }} </p>
    {% endblock %}

    {% block proposition_header %}
      {% include "includes/propositional_navigation.html" %}
    {% endblock %}

    {% block header_class %}
      with-proposition
    {% endblock %}

  {% endblock %}


    {% block body_start %}
      <noscript>
        <img src="/noJS.png" alt="1px" width="1" height="1" style="display: none;" />
      </noscript>
    {% endblock %}

{% endblock %}

{% block footer %}

  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/cookie",
          text: "Cookies"
        },
        {
          href: "/terms-and-conditions",
          text: "Terms and conditions"
        },
        {
          href: "/privacy-policy",
          text: "Privacy Policy"
        }
      ]
    }
  }) }}

{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
  {% block extra_scripts %}{% endblock %}
{% endblock %}